body {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

label {
    display: flex;
    width: 100%;
    gap: 3ch;
    padding: 5px;

    & > * {
        flex: 1 1 40ch;
    }
    &[for='text-string']{
        font-weight: bold;
    }
}



ol {
    counter-reset: item;
    border-radius: 15px;
    background: lavender;
    padding: 20px 0;
    font-family: monospace;
    & li {
        white-space: break-spaces;
        counter-increment: item;
        &::marker {
            content: counter(item);
        }
    }
}

button.clear {
    float: right;
}